
body{
    margin: 20px;
}
header{
    
    text-align: center;
    .selfi{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid gray;
        margin: 20px;
    }
}
.section__header{
    text-align: center;
}
.section__bold{
    color: rgb(23, 23, 163);
}
table{
    ul{
        
    }
}

